body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/src/background.png);
    background-size: cover;
    font-family: cursive;
}

a{
    text-decoration: none;
}

.container_Start{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all .3s ease;
}

.wrapper_Star{
    width: 720px;
    height: 440px;
    background-color: rgba(0, 0, 255, 0.61);
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_Star header{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -72px;
    color: #fff;
}

.wrapper_Star header img{
    width: 400px;
}

.container_StartButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.container_StartButton button:nth-child(1){
    background-image: linear-gradient(150deg, #cd77ff 0%, #3d08fd 100%);
    box-shadow: 0 16px 34px #000;
    font-size: 8em;
    color: #fff;
    padding: 8px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.container_StartButton button i:nth-child(1){
    margin-left: 15px;
}

.container_StartButton button:nth-child(2){
    border: none;
    background-image: linear-gradient(0deg, #083ceb 60%, #0f55ec 100%);
    box-shadow: 0 16px 34px 14px rgba(0, 0, 0, 0.658);
    color: #fff;
    padding: 12px 54px;
    font-size: 22px;
    border-radius: 26px;
    margin-top: 45px;
    cursor: pointer;
    font-family: cursive;
}

.container_ComoJugar, 
.container_StartGame_Category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 64px;
    transition: all .3s ease;
}

.container_ComoJugar header,
.container_StartGame_Category header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 0px 6rem;
}

.container_ComoJugar header .returnHome button, 
.container_StartGame_Category header .returnHome button,
.nav_1_Game .returnHome button{
    border: none;
    background-image: linear-gradient(150deg, #cd77ff 0%, #3d08fd 100%);
    color: #fff;
    padding: 8px;
    border-radius: 50px;
    font-size: 2em;
    cursor: pointer;
}

.container_ComoJugar header .title_Header, 
.container_StartGame_Category header .title_Header{
    background: linear-gradient(to top, #fff, #155af1);
    -webkit-background-clip: text;
    -webkit-text-fill-color:  transparent;
    font-size: 3.5em;
}

.container_CardInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 4rem 0px;
}

.container_CardInfo .card_Info_Game{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: #fff;
    width: 300px;
    height: 320px;
    border-radius: 12px;
    padding: 5rem 2rem;
    color: #020547;
    font-weight: 700;
}

.container_CardInfo .card_Info_Game span{
    color: #083ceb;
    font-size: 3rem;
    font-weight: 700;
}

.container_CardInfo .card_Info_Game p{
    color: #323091;
    font-weight: 400;
}

.container_Body_Category, .container_Body_Game{
    background: #0a37ff;
    background: linear-gradient(179deg, rgba(1, 13, 66, 0.719) 41%, rgba(3, 30, 121, 0.55) 97%);
    height: 100vh;
    transition: all .3s ease;
}

.container_Category{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.container_Cards_Category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    width: 800px;
    padding: 14px 0px;
}

.card_Category{
    background-color: rgb(10, 55, 255);
    padding: 16px 24px;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.container_GameInterfaz{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 2rem 4rem;
}

.container_Header_Game{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.container_Header_Game .nav_1_Game{
    display: flex;
    align-items: center;
    gap: 26px;
}

.container_Header_Game .nav_1_Game span{
    background: linear-gradient(to top, #fff, #155af1);
    -webkit-background-clip: text;
    -webkit-text-fill-color:  transparent;
    font-size: 2em;
    font-weight: 700;
}

.container_Header_Game .nav_2_Game{
    display: flex;
    align-items: center;
    gap: 16px;
}

.container_Header_Game .nav_2_Game .health_Logo{
    background: linear-gradient(to top, rgb(39, 61, 255), #cd4dff);
    -webkit-background-clip: text;
    -webkit-text-fill-color:  transparent;
    font-size: 2.2em;
    font-weight: 700;
    margin-top: -10px;
}

.container_Header_Game .nav_2_Game .health_Progress{
    background-color: #fff;
    width: 100px;
    height: 12px;
    border-radius: 12px;
    padding: 1px;
}

.container_Header_Game .nav_2_Game .health_Progress .health_ProgressBackground{
    background-color: blue;
    width :100%;
    height: 12px;
    border-radius: 12px;
}

.container_Letters_Complete{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 80px;
}

.container_Letters_Complete .letterAgree{
    background-color: rgb(10, 55, 255);
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 700;
    padding: 12px;
    border-radius: 12px;
}

.letterSpace{
    background-color: transparent;
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 700;
    padding: 12px;
    border-radius: 12px;
}

.container_Keyboard{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 60px;
}

.wrapper_Keyboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.wrapper_Keyboard .card_key{
    width: 65px;
    height: 50px;
    color: #020547;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}

.disable_Key{
    width: 65px;
    height: 50px;
    color: #1d1e2e;
    background-color: rgba(255, 255, 255, 0.363);
    padding: 12px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
    transition: all .3s ease;
}

.wrapper_Keyboard .card_key:hover{
    background-color: rgb(110, 166, 250);
    color: #155af1;
    transition: all .3s ease;
}

.container_Body_Menu_Game{
    position: absolute;
    background: #0a37ff;
    background: linear-gradient(179deg, rgba(1, 13, 66, 0.719) 41%, rgba(3, 30, 121, 0.55) 97%);
    width: 100%;
    height: 100vh;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerMenuGame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a37ff;
    padding: 16px;
    width: 490px;
    height: 280px;
    border-radius: 24px;
}

.containerMenuGame img{
    width: 220px;
    margin-top: -90px;
}

.containerMenuGame .options_Menu{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 60px;
}

.containerMenuGame .options_Menu button:nth-child(1),
.containerMenuGame .options_Menu button:nth-child(2){
    border: 3px solid #000;
    background-image: linear-gradient(0deg, rgb(25, 79, 255) 60%, #0f55ec 100%);
    color: #fff;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 26px;
    cursor: pointer;
}

.containerMenuGame .options_Menu button:nth-child(3){
    border: 2px solid #000;
    background-image: linear-gradient(150deg, #cd77ff 0%, #3d08fd 100%);
    color: #fff;
    padding: 8px;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}

.display_Container{
    display: none;
}